<!DOCTYPE html>
<html>
    <!--- Header -->
    <%- include('partials/header.ejs') %>

    <body>
        <div id="main">
            <div id="main-grid">
                <span class="signupspan">

                    <img id="appLogo" src="media/logos/Jabbon Logo Rounded.png"\>

                    <div class="label">Sign up</div>

                    <form action="/signup" method="post" id="signup-form">
                        <section>
                            <input id="username" name="name" type="text" autocomplete="username" placeholder="username" required autofocus>
                        </section>

                        <% if (signup_username_error.length > 0) { %>
                            <div class="alert"><%= signup_username_error %></div>
                        <% } %>

                        <section>
                            <input id="password1" name="password" type="password" autocomplete="password" placeholder="password" required>
                        </section>

                        <% if (signup_password_error.length > 0) { %>
                            <div class="alert"><%= signup_password_error %></div>
                        <% } %>

                        <section>
                            <input id="password2" type="password" autocomplete="password" placeholder="repeat password" required>
                        </section>

                        <% if (signup_error.length > 0) { %>
                            <div class="alert"><%= signup_error %></div>
                        <% } %>
                    
                        <button type="submit">Go!</button>
                    </form>
                    
                    <a id="login-redirect" href="<%=`${server_protocol == 'secure' ? 'https://' : 'http://'}${server_address}:${server_port}/login`%>">Log in</a>

                    <!--- OAUTH -->
                    <%- include('partials/oauth.ejs') %>

                </span>
            </div>
        </div>
    </body>
    <script src="./js/ejs.js"></script>
    <script src="./framework.js"></script>
    <script src="./js/signup.js"></script>
    <script>signup.init()</script>
    <script>
        document.querySelector("#username").value = '<%-signup_username%>';
        document.querySelector("#password1").value = '<%-signup_password%>';
        document.querySelector("#password2").value = '<%-signup_password%>';
    </script>
</html>

