<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/signup.css"/>
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <title>Jabbon</title>
    </head>
    <body>
        <div id="container" >
                <span class="signupspan">
                    <div class="label">Sign up</div>

                    <form action="/signup" method="post">
                        <section>
                            <input id="username" name="name" type="text" autocomplete="username" placeholder="username" required autofocus>
                        </section>

                        <% if (signup_username_error.length > 0) { %>
                            <div class="alert"><%= signup_username_error %></div>
                        <% } %>

                        <section>
                            <input id="password1" name="password" type="password" autocomplete="password" placeholder="password" required>
                        </section>

                        <% if (signup_password_error.length > 0) { %>
                            <div class="alert"><%= signup_password_error %></div>
                        <% } %>

                        <section>
                            <input id="password2" type="password" autocomplete="password" placeholder="repeat password" required>
                        </section>

                        <% if (signup_error.length > 0) { %>
                            <div class="alert"><%= signup_error %></div>
                        <% } %>
                        
                        <div class="submit-button-signup">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                    
                    <a href="<%=`${server_address}/login`%>">Log in</a>

                </span>
        </div>
    </body>
    <script src="./js/ejs.js"></script>
    <script src="./framework.js"></script>
    <script src="./js/signup.js"></script>
    <script>signup.init()</script>
    <script>
        document.querySelector("#username").value = '<%-signup_username%>';
        document.querySelector("#password1").value = '<%-signup_password%>';
        document.querySelector("#password2").value = '<%-signup_password%>';
    </script>
</html>

